In [36]:
import tensorflow as tf
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Flatten, Dense, Dropout, BatchNormalization
from tensorflow.keras.layers import Conv1D, MaxPooling1D
from tensorflow.keras.optimizers import Adam

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder

In [4]:
data = pd.read_csv('test_file.csv')

In [5]:
new_data = data.dropna(axis=0).copy()

In [6]:
label = LabelEncoder()                       ###labelling the string to integers

new_data['label'] = label.fit_transform(new_data['activity'])
new_data.head()

  activity    ax    ay    az     gx    gy     gz  label
0   normal -2.07  4.00  8.22 -0.540 -1.06  0.907      1
1   normal -2.13  4.03  8.20 -0.515 -1.08  0.910      1
2   normal -2.20  4.10  8.22 -0.491 -1.10  0.913      1
3   normal -2.28  4.14  8.23 -0.459 -1.12  0.917      1
4   normal -2.36  4.22  8.24 -0.431 -1.13  0.919      1

In [7]:
new_data['ax'] = new_data['ax'].astype(float)         ###convert the data to float
new_data['ay'] = new_data['ay'].astype(float)
new_data['az'] = new_data['az'].astype(float)
new_data['gx'] = new_data['gx'].astype(float)
new_data['gy'] = new_data['gy'].astype(float)
new_data['gz'] = new_data['gz'].astype(float)

In [8]:
normal = new_data[new_data['activity']=='normal'].head(3753).copy()                 #### not needed in final code as data will be balanced.... 
                                                                            #### This is just a random csv file I made to check the code
downstairs = new_data[new_data['activity']=='downstairs'].head(3753).copy()
upstairs = new_data[new_data['activity']=='upstairs'].head(3753).copy()

In [9]:
final_data = pd.DataFrame()                            ####creating dataframe.... Not needed
final_data = final_data.append([normal, upstairs, downstairs])
final_data.shape
final_data.head()

  activity    ax    ay    az     gx    gy     gz  label
0   normal -2.07  4.00  8.22 -0.540 -1.06  0.907      1
1   normal -2.13  4.03  8.20 -0.515 -1.08  0.910      1
2   normal -2.20  4.10  8.22 -0.491 -1.10  0.913      1
3   normal -2.28  4.14  8.23 -0.459 -1.12  0.917      1
4   normal -2.36  4.22  8.24 -0.431 -1.13  0.919      1

In [10]:
final_data.value_counts()
final_data['activity'].value_counts()

normal        3753
upstairs      3753
downstairs    3753
Name: activity, dtype: int64

In [12]:
### Data Standarisation

x = final_data[['ax', 'ay', 'az', 'gx', 'gy', 'gz']]
y = final_data['label']

In [13]:
scaler = StandardScaler()
X = scaler.fit_transform(x)

scaled_X = pd.DataFrame(data = X, columns=['ax', 'ay', 'az', 'gx', 'gy', 'gz'])
scaled_X['label'] = y.values

scaled_X

             ax        ay        az        gx        gy        gz  label
0     -1.236010  3.193491  1.793126 -0.634609 -1.299356  1.030879      1
1     -1.256316  3.201316  1.785786 -0.602253 -1.324355  1.034480      1
2     -1.280007  3.219573  1.793126 -0.571191 -1.349354  1.038081      1
3     -1.307081  3.230006  1.796796 -0.529775 -1.374353  1.042883      1
4     -1.334156  3.250872  1.800466 -0.493536 -1.386853  1.045283      1
...         ...       ...       ...       ...       ...       ...    ...
11254  1.007811  0.001018 -0.243684  0.073515 -0.105651 -0.057218      0
11255  1.051807 -0.001591 -0.258363  0.065081 -0.131900 -0.058754      0
11256  1.156722 -0.035498 -0.258363  0.078007 -0.143149 -0.050277      0
11257  1.116110 -0.051147 -0.295063  0.092114 -0.151899 -0.043591      0
11258  1.051807 -0.040714 -0.320752  0.097938 -0.146899 -0.040230      0

[11259 rows x 7 columns]

In [14]:
import scipy.stats as stats

In [15]:
###Frame Preparation

Fs = 50

frame_size = Fs*4
hop_size = Fs*2

In [16]:
def get_frames(data, frame_size, hop_size):

    N_FEATURES = 6

    frames = []
    labels = []
    for i in range(0, len(data) - frame_size, hop_size):
        x1 = data['ax'].values[i: i + frame_size]
        y1 = data['ay'].values[i: i + frame_size]
        z1 = data['az'].values[i: i + frame_size]
        x2 = data['gx'].values[i: i + frame_size]
        y2 = data['gy'].values[i: i + frame_size]
        z2 = data['gz'].values[i: i + frame_size]
        
        # Retrieve the most often used label in this segment
        label = stats.mode(data['label'][i: i + frame_size])[0][0]
        frames.append([x1, y1, z1, x2, y2, z2])
        labels.append(label)

    # Bring the segments into a better shape
    frames = np.asarray(frames).reshape(-1, frame_size, N_FEATURES)
    labels = np.asarray(labels)

    return frames, labels

In [17]:
X, y = get_frames(scaled_X, frame_size, hop_size)

X.shape, y.shape

((111, 200, 6), (111,))

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=0, stratify = y)
X_train.shape, X_test.shape

((88, 200, 6), (23, 200, 6))

In [20]:
X_train[0].shape, X_test[0].shape

((200, 6), (200, 6))

In [25]:
X_train[87].shape, X_test[22].shape

((200, 6), (200, 6))

In [29]:
y_train.shape, y_test.shape

((88,), (23,))

In [30]:
n_timesteps, n_features, n_outputs = X_train.shape[1], X_train.shape[2], y_train.shape[0]

In [66]:
def evaluate_model(trainX, trainy, testX, testy):
	verbose, epochs, batch_size = 0, 10, 32
	n_timesteps, n_features, n_outputs = trainX.shape[1], trainX.shape[2], trainy.shape[0]
	model = Sequential()
	model.add(Conv1D(filters=64, kernel_size=3, activation='relu', input_shape=(n_timesteps,n_features)))
	model.add(Conv1D(filters=64, kernel_size=3, activation='relu'))
	model.add(Dropout(0.5))
	model.add(MaxPooling1D(pool_size=2))
	model.add(Flatten())
	model.add(Dense(100, activation='relu'))
	model.add(Dense(n_outputs, activation='softmax'))
	model.compile(loss='sparse_categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
	# fit network
	model.fit(trainX, trainy, epochs=epochs, batch_size=batch_size, verbose=verbose)
	# evaluate model
	_, accuracy = model.evaluate(testX, testy, batch_size=batch_size, verbose=0)
	return accuracy

In [67]:
evaluate_model(X_train,y_train,X_test,y_test)

0.6086956262588501